.App-header {
  background-color: #e5731a;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 20px;
}

.App-logo-container {
  display: flex;
  align-items: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-right: 10px;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
}
